*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

.noPadding{
   padding:0 !important;
}

.debug{
   border:1px solid black;
   min-height:30px;
}

.my_col-bg{
   background-color:#EEEEEE
}

.profile img{
   border-radius:100%;
   width:15%;
}

.my_list-global{
   height:600px;
   overflow-y: scroll;
}

.my_bg-chat{
   background-image :url(../img/sfondochat.png);
   background: repeat;
   background-color:#e5ddd5;
 
}

.my_chat{
   height:550px;
   overflow-y: scroll;
}

.invio{
   height:50px;
   z-index: 5;
   background:white;
   overflow-y:hidden !important;
}