/* Regole generali */
*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

body{
   background: linear-gradient( #009688 0%, #009688 15%, #D8DBD7 15%, #D8DBD7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.noPadding-margin{
   padding:0 !important;
   margin:0 !important;
}

/* .debug{
   border:1px solid black;
   min-height:50px;
} */


/* Sezione colonne superiori */
.my_col-bg{
   background-color:#EEEEEE
}

/* Sezione profilo personale */
.profile img{
   border-radius:100%;
   width:40px;
}

.icons img{
 width: 100%;
 vertical-align: middle;
 margin-right: 10px;
}
/*Fine Sezione profilo personale */

 /* Sezione Contatti */
.my_list-global{
   height:calc(75vh - 50px);
   overflow-y: scroll;
}

.my_list-item{
   background:white;
   border-bottom:1px solid rgba(180, 180, 180, 0.568)
}

.my_list-item span:first-child{
   font-weight: bold;
}

.my_list-item:last-child{
   border-bottom:0
}

.my_list-bg{
   background: lightgrey;
}

.search{
   height: 50px;
   background:#F8F8F8;
    display: flex;
    align-items: center;
}

.search span {
    width: 20%;
    height: 30px;
    background-color: #fff;
    border-radius: 20px 0px 0px 20px;
    margin-left: 20px;
    padding: 0 8px;
}

.search-input {
    width: 80%;
    height: 30px;
    border: 0;
    border-radius: 0px 20px 20px 0px;
    margin-right: 20px;
    font-size: 12px;
}
 /* Fine Sezione Contatti */

 /* Sezione info contatto */
 
 .info-contatto img{
   width: 40px;
 }

 .options img{
    margin-right: 20px;
    width:100%;
 }

 .name_access span:last-child{
    font-size: 12px;
 }

/* Sezione Chat */
.my_bg-chat{
   background:url(../img/sfondochat.png), #e5ddd5;
   background-size:50% ;
 
}

.my_chat{
   height:calc(75vh - 50px);
   overflow-y: scroll;
}
.my_chat{
   display: none !important;
}
.my_active{
   display:flex !important;
}

/* Fine Sezione Chat */

/* Sezione invio messaggi */
.invio{
   height:50px;
   background:white;
   background-color:#EEEEEE
}

.invio input{
   width: 85%;
   border-radius:25px;
   border:0;
   padding:5px;
}

.invio input::placeholder{
  padding:5px;
  font-size: 15px;
}


.msgsent {
 padding: 5px;
 width:100%;
}
.msgreceived {
 padding: 5px;
 width:100%;
}

.global-mex-user,
.global-mex-pc{
padding:10px;
max-width: 40%;
border-radius: 10px;
}

.global-mex-user{
background-color:#DCF8C6;
position:relative;
}

.drop-mex{
  position: absolute;
    background: lightgray;
    padding: 5px;
    top: -120%;
    display:none;
}

.global-mex-pc{
background-color:white;
}

.time{
   color:rgba(189, 179, 179, 0.9);
}

.testo{
   max-width: 40%;
   word-break: break-word;
}


/* Parte di templating */
#template {
  display: none;
}

#template .msgreceived img{
   width:50%;
}