/* Regole generali */
*{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

body{
   background: linear-gradient( #009688 0%, #009688 15%, #D8DBD7 15%, #D8DBD7 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body_dark{
   background: linear-gradient( #222424 0%, #222424 15%, rgb(56, 58, 55) 15%, rgb(56, 58, 55) 100%);
   background-repeat: no-repeat;
   background-attachment: fixed; 
}
.noPadding-margin{
   padding:0 !important;
   margin:0 !important;
}





/* Sezione colonne superiori */
.my_col-bg{
   background-color:#EEEEEE
}
.my_col-bg-dark{
   background-color:#323232;
}
.my_col-bg span:last-child{
   color:rgb(163, 161, 161);
}

/* Sezione profilo personale */
.profile img{
   border-radius:100%;
   width:40px;
}

.icons svg{
 width: 100%;
 margin-right: 10px;
}
.icons svg:last-child{
 
 margin-right: 0;
}
/*Fine Sezione profilo personale */

 /* Sezione Contatti */
.my_list-global{
   height:calc(75vh - 50px);
   overflow-y: scroll;
   overflow-x: hidden;
}

.my_list-item{
   background:white;
   border-bottom:1px solid rgba(180, 180, 180, 0.568)
}
.my_list-item:hover{
   background:rgba(255, 252, 252, 0.642);
}


.my_list-item span:last-child{
  color: rgb(163, 161, 161);
}

.my_list-item:last-child{
   border-bottom:0
}

.my_list-bg{
   background:lightgrey;
}
.my_list-bg-dark{
   background:#323232;
}

.search{
   height: 50px;
   background:#F8F8F8;
    display: flex;
    align-items: center;
}
.search-dark{
   background:#2B2929;
    
}

.search span {
    width: 20%;
    height: 30px;
    background: #fff;
    border-radius: 20px 0px 0px 20px;
    margin-left: 20px;
    padding: 0 8px;
}

.search-input {
    width: 80%;
    height: 30px;
    border: 0;
    border-radius: 0px 20px 20px 0px;
    margin-right: 20px;
    font-size: 12px;
}

.search-dark-det{
   background: #202020 !important;
   color:white;
}
 /* Fine Sezione Contatti */

 /* Sezione info contatto */
 
 .info-contatto img,
 .info-contatto svg{
   width: 40px;
   border-radius: 100%;
 }

 .options svg,
 .options i{
    margin-right: 20px;
    width:100%;
 }

.name_access{
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .name_access span:last-child{
    font-size: 12px;
 }
 .name_access-dark{
    color:white;
 }

/* Sezione Chat */
.my_bg-chat{
   background:url(../img/sfondochat.png), #e5ddd5;
   background-size:50% ;
 
}
.my_bg-chat-dark{
   background:url(../img/sfondochat.png), rgb(53, 48, 48);
   background-size:50% ;
 
}

.my_chat{
   height:calc(75vh - 50px);
   overflow-y: scroll;
}
.my_chat{
   display: none !important;
}
.my_active{
   display:flex !important;
}

/* Fine Sezione Chat */

/* Sezione invio messaggi */
.invio{
   height:50px;
   background-color:#EEEEEE
}
.invio-dark{
   background-color:#323232;
}

.invio input{
   width: 85%;
   border-radius:25px;
   border:0;
   padding:5px;
}


.invio input::placeholder{
  padding:5px;
  font-size: 15px;
}


.msgsent {
 padding: 5px;
 width:100%;
}
.msgreceived {
 padding: 5px;
 width:100%;
}

.global-mex-user,
.global-mex-pc{
padding:10px;
max-width: 40%;
border-radius: 10px;
}

.global-mex-user{
background-color:#DCF8C6;

}

.msgsent{
   position:relative;
}

.drop-mex{
   position: absolute;
    background: white;
    padding: 5px;
    top: -50%;
    right: 0;
    display: none;
    font-size: 13px;
}

.displayNone{
   display:none !important;
}


.global-mex-pc{
background-color:white;
}
.global-mex-pc-dark{
background-color:#2d2d2d!important;
color:white;
}

.time{
   color:rgba(189, 179, 179, 0.9);
}

.testo{
   max-width: 40%;
   word-break: break-word;
}



.writing{
   color:#06d755 !important;
   font-weight: bold;
}

#send{
   display:none;
}

/* MODALITà NOTTE */
.moon_white{
   color:white;
}


/* Parte di templating */
#template {
  display: none;
}

#template .msgreceived img{
   width:50%;
}

/* ANIMATION */

.page-notFound {
  width: 100%;
  height: 100vh;
  background:black;
  overflow: hidden;
  display:none;
  position:absolute;
  top:0;
  left:0;
  z-index: 999;
}

h2{
   position:absolute;
   top:50%;
   left:50%;
   color: #fff;
   font-size: 5em;
   letter-spacing: 8px;
   font-family: 'Press Start 2P';
   font-weight: 400;
   margin: 0;
   line-height: 0;
   animation: glitch1 2.5s infinite;
}

h3{
  position:absolute;
   top:55%;
   left:50%;
   animation: glitch1 2.5s infinite;
}

h2:nth-child(2),
h3:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

h2:nth-child(3),
h3:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

